* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    --space-S : .5rem;
    --space-M : 1rem;
    --space-L : 2rem;
    --space-XL : 4rem;
}

footer {
    background-color: #f2f2f2;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

.area-title {
    display: flex;
    align-items: center;
    padding: var(--space-M) var(--space-L);
    gap: var(--space-L);
}
.area-title h1 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .2rem;
}
.area-title img {
    max-width: 4rem;
}
.appliance {
    display: flex;
    align-items: center;
}
.appliance-title {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: var(--space-M);
    padding-left: var(--space-XL);
    padding-right: var(--space-L);
    gap: var(--space-L)
}
.appliance-title img {
    max-width: 2rem;
}
.appliance-title h2 {
    font-size: 1rem;
    font-weight: 600;
    flex-shrink: 0;
}
.appliance-controls {
    display: flex;
    align-items: center;
    gap: var(--space-M)
}
.appliance-btn {
    padding: var(--space-M);
    border: none;
    border-radius: var(--space-S);
    min-width: 5rem;
    cursor: pointer;
    transition: 300ms;
}
.appliance-off {
    background-color: #dc9e9e;
}
.appliance-idle {
    background-color: #f1ce6f;
}
.appliance-charging {
    background-color: #beddac;
}
.appliance-on {
    background-color: #beddac;
}
.appliance-off:hover {
    background-color: #db8484;
}
.appliance-on:hover {
    background-color: #a4db84;
}
.custom-range {
    position: relative;
    height: 3rem;
    width: calc(20rem - 1px);
    overflow-x: hidden;
}
.custom-range > input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    background-color: #f1ce6f;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: 20rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    overflow: hidden;
    cursor: col-resize;
}
.custom-range > input[type="range"][step] {
    background-color: #f1ce6f55;
    background-image: repeating-linear-gradient(to right, transparent, transparent calc(10% - 1px), #00000055 10%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0 50%;
}
.custom-range > input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem #f1ce6f;
    mix-blend-mode: color;
}
.custom-range > input[type=range]::-moz-range-thumb {
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem #f1ce6f;
    mix-blend-mode: color;
}
.custom-range-output{
    font-size: .7rem;
    font-weight: 700;
}

@media (max-width: 30rem) {
    .area {
        margin-bottom: var(--space-L)
    }
    .area-title {
        overflow-x: scroll;
    }
    .appliance {
        flex-direction: column;
    }
    .appliance-title {
        padding-left: var(--space-L);
        justify-content: center;
    }
    .appliance-controls {
        flex-direction: column;
    }
    .appliance-btn {
        width: 20rem;
    }
}
